.root {

    -color-primary-bright-10: #ffffff;
    -color-primary-bright-9: #e5f3fa;
    -color-primary-bright-8: #cce7f5;
    -color-primary-bright-7: #b3dbf1;
    -color-primary-bright-6: #99cfec;
    -color-primary-bright-5: #80c3e8;
    -color-primary-bright-4: #67b7e3;
    -color-primary-bright-3: #4dabde;
    -color-primary-bright-2: #349fda;
    -color-primary-bright-1: #1b93d5;
    -color-primary: #0288D1;
    -color-primary-dark-1: #017abc;
    -color-primary-dark-2: #016ca7;
    -color-primary-dark-3: #015f92;
    -color-primary-dark-4: #01517d;
    -color-primary-dark-5: #014468;
    -color-primary-dark-6: #003653;
    -color-primary-dark-7: #00283e;
    -color-primary-dark-8: #001b29;
    -color-primary-dark-9: #000d14;
    -color-primary-dark-10: #000000;

    -color-complementary-bright-8: #f5dbcc;
    -color-complementary-bright-7: #f1c9b3;
    -color-complementary-bright-6: #ecb799;
    -color-complementary-bright-4: #e39367;
    -color-complementary-bright-2: #da6e34;
    -color-complementary: #d14b02; /* https://www.color-hex.com/color/d14b02 */


    -color-primary-dark: #0288D1;
    -color-primary-ligth: #B3E5FC;

    -color-primary-text: #01547a; /*1, 84, 122*/
    -color-primary-text-transparent: rgba(1, 84, 122, 0.9);

    -color-background: #FFFFFF;
    -color-accent: #FFC107;
    -color-accent-ligth: #ffecb4;
    -color-divider: #B6B6B6;

    -color-root-error: #ff4d4d;

    -main-button-size: 30px;
    -small-button-size: 10px;
}

root {
    -fx-font-family: "Roboto-Regular";
}


.jfx-text-field, .jfx-text-area {
    -jfx-unfocus-color: -color-primary-dark;
    -jfx-focus-color: -color-primary;
}

/* ================================================================================*\
 * SQL Table View
\* ================================================================================*/
.table-view {
    -fx-control-inner-background: -color-background;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0 50 50;
}

.table-view .column-header-background {
    -fx-background-color: -color-background;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 11pt;
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/* ================================================================================*\
 * SQL Query
\* ================================================================================*/
.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
}

/* ================================================================================*\
 * Text
\* ================================================================================*/
.text-combobox {
    -fx-fill: -color-primary-text;
    -fx-translate-x: -7.0;
}

.jfx-combo-box {
    -fx-text-inner-color: red;
    -fx-prompt-text-fill: red;
}

.jfx-combo-box .cell {
    -fx-text-fill: red;
}

/* ================================================================================*\
 * Label
\* ================================================================================*/
.label {
    -fx-text-fill: -color-primary-text;
    -fx-font-weight: bold;
}

.label.error {
    -fx-text-fill: -color-root-error;
    -fx-font-weight: bold;
}

.text {
    -fx-text-fill: -color-primary-text;
    -fx-font-weight: bold;
}

.label-title {
    -fx-font-size: 20.0px;
    -fx-padding: 14.0px;
    -fx-font-weight: bold;
}

.strike-label .text {
    -fx-strikethrough: true;
    -fx-opacity: 0.5;
}

/* ================================================================================*\
 * Text Field
\* ================================================================================*/
.text-field {
    -fx-background-color: -color-background;
}

/* ================================================================================*\
 * Button
\* ================================================================================*/
.button {
    -fx-background-radius: 0;
    -fx-background-color: -color-primary;
    -fx-font-size: 11.0pt;
    -fx-text-fill: -color-primary-bright-10;
    -fx-cursor: hand;
}

.button-primary {
    -fx-background-radius: 50.0;
    -fx-background-color: -color-primary;
    -fx-font-size: 11.0pt;
    -fx-text-fill: -color-primary-bright-10;
    -fx-cursor: hand;

    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.button-secondary {
    -fx-text-fill: -color-primary-dark-1;
    -fx-background-color: -color-primary-bright-9;

    -fx-background-radius: 50.0;
    -fx-font-size: 11.0pt;
    -fx-cursor: hand;

    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}


/* ================================================================================*\
 * Tool Bar
\* ================================================================================*/
.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color: -color-primary;
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: -color-background;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
    -fx-pref-width: 4px;
}

.jfx-tool-bar .jfx-rippler {
    -fx-rippler-fill: -color-background;
}

/* ================================================================================*\
 * JFX Decorator
\* ================================================================================*/
.jfx-decorator {
    -fx-decorator-color: -color-primary;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .jfx-decorator-buttons-container .button {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

/* ================================================================================*\
 * Scroll Pane
\* ================================================================================*/
.scroll-pane {
    -fx-background: -color-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}


.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-pref-width: 10;
    -fx-max-width: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
}

.scroll-bar:horizontal {
    -fx-pref-height: 10;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 10;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: -color-primary-bright-9;
    -fx-border-color: -color-primary-bright-10;
    -fx-background-radius: 2em;

}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -color-primary-bright-5;
    -fx-border-color: -color-primary-bright-10;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -color-primary-dark;
}

/* ================================================================================*\
 * List View
\* ================================================================================*/
.list-cell-content-container {
    -fx-alignment: center-left;
}

.list-cell:odd:selected .list-cell-container,
.list-cell:even:selected .list-cell-container {
    -fx-background-color: -color-background;
}

.list-cell {
    -fx-cursor: hand;
    -fx-background-insets: 0.0;
    -fx-text-fill: -color-primary-text;
}


.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: -color-primary-ligth;
}

.list-cell:odd,
.list-cell:even,
.list-cell:odd:focused .list-cell-container,
.list-cell:even:focused .list-cell-container,
.list-cell:filled:selected {
    -fx-background-color: -color-background;
    -fx-font-weight: bold;
    -fx-cell-size: 35px;
}

.jfx-list-cell:odd:focused,
.jfx-list-cell:even:focused,
.list-cell:filled:hover {
    -fx-background-color: -color-primary-ligth;
}

.list-view {
    -fx-background-insets: 0.0;
    -fx-cell-horizontal-margin: 0.0;
    -fx-cell-vertical-margin: 5.0;
    -fx-vertical-gap: 10.0;
    -fx-expanded: false;
}

.list-cell:disabled .label {
    -fx-opacity: 1.0;
}


.list-staf .list-cell:odd,
.list-staf .list-cell:even {
    -fx-background-color: -color-primary-dark;

}

/*******************************************************************************
 * Combo Box                                                                   *
 ******************************************************************************/
.combo-box-popup .list-view {
    -fx-background-insets: 0.0;
    -fx-cell-horizontal-margin: 0.0;
    -fx-cell-vertical-margin: 0.0;
    -fx-vertical-gap: 0.0;
    -fx-expanded: false;
}

.combo-box .combo-box-button-container {
    -fx-border-color: -color-accent;
    -fx-border-width: 0 0 2 0;
    -fx-translate-y: -1.0;
    -fx-cursor: hand;
}

.combo-box .label,
.combo-box .list-cell {
    -fx-text-fill: -color-primary-text;
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover,
.combo-box-popup .list-view .list-cell:filled:hover,
.combo-box-popup .list-view .list-cell:odd:selected .list-cell-container,
.combo-box-popup .list-view .list-cell:even:selected .list-cell-container {
    -fx-background-color: -color-primary-ligth;
    -fx-cursor: hand;
}

.combo-box:selected,
.combo-box-base:hover > .arrow-button > .arrow,
.combo-box:focused > .arrow-button > .arrow {
    -fx-background-color: -color-primary-dark;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.list-cell-content-container {
    -fx-alignment: center-left;
}

.-combo-box:focused {
    -fx-background-color: -color-background;
}

.combo-box,
.combo-box:hover,
.combo-box:showing {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/*******************************************************************************
 * Tab                                                                        *
 ******************************************************************************/
.tab {
    -fx-opacity: 0.6;
}

.tab:selected {
    -fx-opacity: 1.0;
}

.tab-content-area {
    -fx-background-color: -color-background;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab .tab-label {
    -fx-text-fill: -color-background;
}

.tab:selected .tab-label {
    -fx-text-fill: -color-background;
}

.tab .glyph-icon {
    -fx-fill: -color-background;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: -color-primary;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -color-primary;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: -color-primary-ligth;
    -fx-background-color: -color-background;
    -fx-pref-height: 4;
}


.tree-table-view .tree-table-cell {
    -fx-padding: 0 0 0 16;
}


/*
 * TREE TABLE CSS
 */

.tree-table-view {
    -fx-tree-table-color: -color-accent-ligth;
    -fx-tree-table-rippler-color: -color-accent-ligth;
}

.tree-table-view .jfx-text-field {
    -fx-background-color: transparent;
}

.context-menu-option-button {
    -fx-background-color: #F1F1F1;
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
    -fx-text-fill: -color-primary-dark;

}

.animated-option-button {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 30px;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.animated-option-button .jfx-rippler {
    -jfx-rippler-fill: -color-primary-text;
}

.animated-option-button-icon {

}

.small-animated-option-button {
    -fx-background-color: white;
    -fx-background-radius: 18px;
    -fx-pref-height: 18px;
    -fx-pref-width: 18px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.small-animated-option-button .jfx-rippler {
    -jfx-rippler-fill: -color-primary-text;
}

.sub-icon {
    -fx-fill: -color-primary-dark;
}

.main-button {
    -fx-pref-width: 60px;
    -fx-background-color: -color-primary-dark;
    -fx-background-radius: 60px;
    -fx-pref-height: 60px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.main-button .jfx-rippler {
    -jfx-rippler-fill: rgba(255, 255, 255, .87);
}

.main-icon {
    -fx-fill: rgba(255, 255, 255, .87);
}

.tree-table-view .menu-item:focused {
    -fx-background-color: -fx-tree-table-color;

}

.tree-table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}


.fiche-label {
    -fx-font-size: 11pt;

}


.jfx-snackbar-content {
    -fx-background-color: -color-primary-dark-3;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
    -fx-text-fill: -color-background;
    -fx-font-family: "Roboto-Regular";
}

.jfx-snackbar-action {
    -fx-text-fill: -color-background;
    -fx-background-color: transparent;
}

.jfx-snackbar-content .label {
    -fx-text-fill: -color-background;
    -fx-font-family: "Roboto-Regular";
}


.jfx-snackbar-content:warning-toast {
    -fx-background-color: -color-complementary-bright-2;
}

.jfx-snackbar-content:error-toast {
    -fx-background-color: -color-root-error;
}

.fiche-icon .glyph-icon {
    -fx-fill: -color-primary-text;
}

.jfx-slider > .track {
    -fx-background-color: -color-primary-bright-7;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: -color-primary-dark;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: -color-primary-dark;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: -color-primary-dark;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

.settings-slider .animated-thumb {
    -fx-background-color: -color-primary;
}


.grid-outside-schema-box .jfx-text-field {
    -jfx-focus-color: -color-primary-text;
    -jfx-unfocus-color: transparent;
    -fx-padding: 0 5 0 5;
    -fx-alignment: center;
}

.tab .tab-close-button {
    -fx-background-color: transparent;
    -fx-shape: "M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z";
    -fx-scale-shape: false;
    -fx-fill: red;
}


.root-schema-group-box-buttons {
    -fx-background-color: -color-primary-dark;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


/* GROUp */
.main-schema-box {
    -fx-background-color: -color-background;
}

.outside-schema-box {
    -fx-border-insets: 20 10 20 10;
    -fx-border-radius: 5;
    -fx-border-color: -color-primary-text;
}

.select-action-button {
    -fx-border-color: -color-primary-text;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;

    -fx-background-color: #F1F1F1;
    -fx-background-radius: 10px;
    -fx-pref-height: 10px;
    -fx-pref-width: 10px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.select-action-button-selected {
    -fx-background-color: -color-primary-text;
}

.select-action-button:disabled {
    -fx-opacity: 1.0;
}

.select-action-button-unselected {
    -fx-background-color: #F1F1F1;
}

.select-action-button:hover {
    -fx-cursor: hand;
}


.select-button-pane {
    -fx-padding: 15 5 15 5;
    -fx-background-color: -color-background;
}

.select-button-pane:hover {
    -fx-cursor: hand;
}

.select-pane:hover {
    -fx-cursor: hand;
}

/* Action Pane */
.sub-action-button {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 25px;
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-background-radius: 25px;
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.sub-small-action-button {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 10px;
    -fx-pref-height: 10px;
    -fx-pref-width: 10px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}


/* ================================================================================*\
 * Text field
\* ================================================================================*/
.text-field.error {
    -jfx-focus-color: -color-root-error;
    -jfx-unfocus-color: -color-root-error;
}


.stackpane-background {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}


/* ================================================================================*\
 * Tool tip
\* ================================================================================*/
.tooltip {
    -fx-background-color: -color-primary-text-transparent;
}

/* ================================================================================*\
 * Menu Bar
\* ================================================================================*/
.context-menu,
.menu-bar {
    -fx-background-color: -color-primary-dark;
    -fx-font-weight: bold;
}

.menu .label {
    -fx-text-fill: -color-background;
    -fx-font-weight: bold;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing,
.menu-item:focused {
    -fx-background-color: -color-primary-bright-2;
}

/* ================================================================================*\
 * Keyboard buttond
\* ================================================================================*/

.keyboard-button {
    -fx-background-color: -color-primary-bright-9;
    -fx-text-fill: -color-primary-dark-9;
    -fx-border-width: 5;
    -fx-border-color: linear-gradient(to top, -color-primary-bright-5, -color-primary-bright-6, -color-primary-bright-6, -color-primary-bright-5);
    -fx-font-size: 9pt;

    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.keyboard-close-button {

}

/*******************************************************************************
 * action-bar,                                                                   *
 ******************************************************************************/
.jfx-popup .action-bar,
.jfx-popup .jfx-popup-container .action-bar,
.jfx-popup .jfx-list-view .action-bar {
    -fx-pref-width: 295px;
}

/*******************************************************************************
 * action-node-pane                                                                *
 ******************************************************************************/
.action-node-pane {
    -fx-min-width: 320px;
}

/*******************************************************************************
 * Settings                                                   *
 ******************************************************************************/
.settings-pane {
    -fx-padding: 15px;
    -fx-background-color: -color-primary-bright-10;
    -fx-border-insets: 20 20 20 20;
    -fx-border-radius: 5;
    -fx-border-color: -color-primary-dark-4;
}

.back-button {
    -fx-font-weight: bold;
    -fx-text-fill: -color-primary-text;
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 100px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.title-bar {
    -fx-background-color: -color-primary-dark;
    -fx-padding: 15px;

}

.title-bar .label {
    -fx-text-fill: -color-primary-bright-10;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;

}

/*******************************************************************************
 * Check box                                        *
 ******************************************************************************/
.check-box .box {
    -fx-border-color: -color-primary-dark;
}

.check-box {
    -fx-text-fill: -color-primary-text;
    -jfx-checked-color: -color-primary;
}

/*******************************************************************************
 * Tooltip pointer                        *
 ******************************************************************************/
.tooltip-pointer-pane {
    -fx-background-color: -color-primary-bright-10;
    -fx-opacity: 0.9;
    -fx-padding: 40;
}

.tooltip-pointer-button {
    -fx-background-color: -color-primary-bright-10;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
    -fx-font-size: 30pt;
}

.tooltip-pointer-icon {
    -fx-fill: -color-primary-dark-6;
}

.tooltip-pointer-label-header {
    -fx-text-fill: -color-primary-dark-6;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}

.tooltip-pointer-label {
    -fx-text-fill: -color-primary-dark-6;
    -fx-font-size: 12pt;
}

.tooltip-pointer-tooltip {
    -fx-padding: 0;
}


.pane-with-primary-background {
    -fx-background-color: -color-primary;
}

/*Empty tab*/

.empty-tab .main-label {
    -fx-font-size: 30pt;
}

.empty-tab .secondary-label {
    -fx-text-fill: -color-primary;
    -fx-font-size: 20pt;
}

.empty-tab .labels-container {
    -fx-padding: 30 30 10 30;

}

.empty-tab .button {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 250px;
    -fx-pref-height: 250px;
    -fx-pref-width: 250px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}